#contact_info {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    background-color: #ffbbe6;
    padding-top: 20px;
    box-shadow: 0px -10px 5px #ffbbe6;
}

#contact_container {
    grid-column: 3 / 9;
}

#contact_container>h1 {
    color: #ec407a;
    font-weight: bolder;
}

#contact_container>h2 {
    color: #525151;
}

#contact_container>p {
    color: #525151;
}

#contact_formulier {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    /* width: 20vw; */
}

#contact_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact_formulier>label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

#contact_formulier>input {
    margin-bottom: 10px;
}

#contact_formulier>input[type="text"] {
    height: 32px;
    padding: 3px 13px;
    font-size: 18px;
    width: 90%;
    border: none;
    background-color: #f3f3f3;
    border-radius: 3px;
}

#receive_emails>input[type=checkbox] {
    height: 20px;
    width: 20px;
}

#receive_emails {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
}

input[type=submit] {
    font-size: 20px;
    max-width: 250px;
    padding: 5px 0px;
    border: none;
    border-radius: 5px;
  }

@media (max-width: 1165px) {
    #contact_info {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}